---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import Base from "../../layouts/Base.astro";

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <article class="row-fluid navmargin">
        <header class="page-header">
            <h1>TODO</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        //TODO
    </article>
    <ul>
        {
            posts.map((post) => (
                    <li>
                        <a href={`/blog/${post.id}/`}><FormattedDate date={post.data.pubDate} /> | {post.data.title}</a>
                    </li>
            ))
        }
    </ul>
</Base>