---
import {SiteConfig} from '../consts';
import Navbar from "../components/Navbar/Navbar.astro";

import style from '../components/Navbar/Navbar.module.scss';
import NavbarLink from "../components/Navbar/NavbarLink.astro";

const links = SiteConfig.topLinks;

---
<!-- Navbar
================================================== -->

<Navbar>
	<a class={style.brand} href="/">{SiteConfig.title}</a>

	<input
		type='checkbox'
		class={style['navbar-menu']}
		style='display: none'
		id=cb
		aria-controls="navbar_collapse"
	/>
	<label for=cb>Click Here</label>

	<div class={style['navbar-collapse']} id="navbar_collapse">
		{links.map((link) => (
			<NavbarLink name={link.Name} href={link.URL}/>
		))}
	</div>
</Navbar>

