---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Head from '../partials/Head.astro';
import Footer from '../partials/Footer.astro';
import FormattedDate from '../partials/FormattedDate.astro';
import Header from '../partials/Header.astro';

import '../styles/index.scss';
import { base } from "astro:config/server";

type Props = {
    title: string;
    description: string;
};

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<Head title={title} description={description} />
<body>
<Header />
<div class="container navmargin">
    <div class="content">
        <slot/>
    </div>
</div>
<Footer />
</body>

<!--
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-responsive.css" >
-->
<link rel="stylesheet" href={`${base}css/docs.css`}>
<script is:inline src={`${base}js/jquery.js`} />
<script is:inline src={`${base}js/bootstrap-386.js`} />
<script is:inline src={`${base}js/bootstrap-transition.js`} />
<script is:inline src={`${base}js/bootstrap-alert.js`} />
<script is:inline src={`${base}js/bootstrap-modal.js`} />
<script is:inline src={`${base}js/bootstrap-dropdown.js`} />
<script is:inline src={`${base}js/bootstrap-scrollspy.js`} />
<script is:inline src={`${base}js/bootstrap-tab.js`} />
<script is:inline src={`${base}js/bootstrap-tooltip.js`} />
<script is:inline src={`${base}js/bootstrap-popover.js`} />
<script is:inline src={`${base}js/bootstrap-button.js`} />
<script is:inline src={`${base}js/bootstrap-collapse.js`} />
<script is:inline src={`${base}js/bootstrap-carousel.js`} />
<script is:inline src={`${base}js/bootstrap-typeahead.js`} />
<script is:inline src={`${base}js/bootstrap-affix.js`} />

<script is:inline>
    _386 = {
        fastLoad: false,
        onePass: true,
        speedFactor: 5
    };
</script>

</html>
