---
import Base from "./Base.astro";
import {getCollection} from "astro:content";
import FormattedDate from "../partials/FormattedDate.astro";
import Tags from "../partials/Tags.astro";
import PageHeader from "../components/PageHeader/PageHeader.astro";

const { frontmatter  } = Astro.props;

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Base title={frontmatter.title} description={frontmatter.description}>
    <PageHeader>
        {frontmatter.title}
    </PageHeader>
    <div class="page-layout">
        <div class="">
            <p class="lead">{frontmatter.description}</p>
            <slot/>
            <hr class="soften">
            <h1>Posts:</h1>
            <ul>
                {
                    posts.map((post) => (
                        <li>
                            <a href={`/blog/${post.id}/`}><FormattedDate date={post.data.pubDate} /> | {post.data.title}</a>
                        </li>
                    ))
                }
            </ul>
        </div>

        <div class="page-layout__sidebar">
            <h1>Categories</h1>
            <ul class="nav nav-list bs-docs-sidenav">

            </ul>
            <p></p>
            <h1>Tags</h1>
            <ul class="nav nav-list bs-docs-sidenav">
                <Tags/>
            </ul>
        </div>
    </div>
</Base>



