---

import Base from "./Base.astro";
import type {CollectionEntry} from "astro:content";
import PageHeader from "../components/PageHeader/PageHeader.astro";
import {base} from "astro:config/server";

type Props = CollectionEntry<'blog'>['data'];

const post = Astro.props;
---

<Base {...post}>
    <div class="row-fluid navmargin">
        <PageHeader>
            <h1>{post.title} - { post.pubDate.toISOString() }</h1>
        </PageHeader>
        <p class="lead">{post.description}</p>
        <slot/>
        <h4><a href={base}>Back to home</a></h4>
    </div>
</Base>